:root {
  /* Calcul des teintes) */
  --u1: 220; // couleur initiale
  --u2: calc(var(--u1) + 180); // couleur complémentaire
  --u3: calc(var(--u2) - 30); // couleur analogue gauche
  --u4: calc(var(--u2) + 30); // couleur analogue droite
  /* La saturation */
  --s-arriere: 100%;
  --s-avant: 50%;
  /* la luminosité */
  --l-arriere: 30%;
  --l-avant: 20%;

  /* couleur avant plan  - color  */
  --couleur-entete: hsl(var(--u1), var(--s-avant), var(--l-avant));
  --couleur-accueil: hsl(var(--u2), var(--s-avant), var(--l-avant));
  --couleur-evenement: hsl(var(--u3), var(--s-avant), var(--l-avant));
  --couleur-galerie: hsl(var(--u4), var(--s-avant), var(--l-avant));
  --couleur-footer: hsl(var(--u1), var(--s-avant), var(--l-avant));

  /* Couleur monochrome */

  /* couleur arrière plan - background-color */
  --couleur-arriere-menu: hsl(var(--u1), 100%, 70%, 30%);
  --couleur-arriere-entete: hsl(var(--u1), 100%, 70%);
  --couleur-arriere-accueil: hsl(var(--u1), 110%, 75%);
  // --couleur-arriere-evenement:hsl(var(--u1),100%,80% );
  // --couleur-arriere-galerie: hsl(var(--u1),100%,85% );
  --couleur-arriere-footer: hsl(var(--u1), 100%, 70%);

  --couleur-arriere-evenement: var(--couleur-arriere-accueil);
  --couleur-arriere-galerie: var(--couleur-arriere-accueil);

  --couleur-entete: hsl(var(--u1), 100%, 30%);
  --couleur-accueil: hsl(var(--u1), 100%, 25%);
  --couleur-evenement: hsl(var(--u1), 100%, 20%);
  --couleur-galerie: hsl(var(--u1), 100%, 15%);
  --couleur-footer: hsl(var(--u1), 100%, 15%);

  --couleur-arriere-diagonal: hsl(var(--u2), 100%, 80%);
}

.carte {
  --_couleur-arriere: hsl(var(--u1), 100%, 85%);
  --_couleur-arriere-carte: hsl(
    var rgb(215, 251, 63) ;
      radial-gradient(
        circle,
        rgba(215, 251, 63, 1) 0%,
        rgba(70, 119, 252, 1) 96%
      )
      ;
  );
}

#footer {
  --_couleur-arriere-vague: var(--couleur-arriere-evenement);
}
